<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header-invoice :: head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/invoice.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Halaman Invoice</title>
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Fonts to support Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <!-- Icons to support Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script type="text/javascript" src="/static/bower_components/crypto-js/crypto-js.js"></script>
    <script src="/static/build/util.js"></script>
</head>
<body>
  <!--Navbar-->
  <div id="root"></div>
  <nav> 
    <div class="navbar">
        <div class="logo"><a href="index.html">Logo</a></div>
            <div class="menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="suratjalan.html">Surat Jalan</a></li>
                    <li><a href="invoice.html">Invoice</a></li>
                    <li><a href="kwitansi.html">Kwitansi</a></li>
                    <li>
                        <div class="logout">
                            <a href="#" onclick="labkodingMain().logout()">logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Form Invoice-->
    <div class="invoice">
      <div class="checkbox_container">
        <div class="store">
          <h1>Store</h1>
            <div id="combobox_store">
                <!-- <select name="store" id="store">
                <option value="store1">Store 1</option>
                <option value="store2">Store 2</option>
                <option value="store3">Store 3</option>
                </select> -->
            </div>
          </div>
          <hr>
          <h1 class="title">Invoice</h1>
          <p>Pilihlah surat jalan dibawah ini</p>
            <div id="daftar_suratjalan">
                <!-- <div class="checkbox_wrap">
                    <div class="checkbox_left">
                        Nomor 1
                    </div>
                    <div class="checkbox_right">
                        <i class="fas fa-check"></i>
                        <input type="checkbox" class="checkbox">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="checkbox_wrap">
                    <div class="checkbox_left">
                        Nomor 2
                    </div>
                    <div class="checkbox_right">
                        <i class="fas fa-check"></i>
                        <input type="checkbox" class="checkbox">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="checkbox_wrap">
                    <div class="checkbox_left">
                        Nomor 3
                    </div>
                    <div class="checkbox_right">
                        <i class="fas fa-check"></i>
                        <input type="checkbox" class="checkbox">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="checkbox_wrap">
                    <div class="checkbox_left">
                        Nomor 4
                    </div>
                    <div class="checkbox_right">
                        <i class="fas fa-check"></i>
                        <input type="checkbox" class="checkbox">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="checkbox_wrap">
                    <div class="checkbox_left">
                        Nomor 5
                    </div>
                    <div class="checkbox_right">
                        <i class="fas fa-check"></i>
                        <input type="checkbox" class="checkbox">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="next">
                    <a href="inpreview.html">Next</a>
                </div> -->
            </div>
          <br />
        </div>
    </div>
    <script src="/static/build/store-combobox.js" th:src="@{/build/store-combobox.js}"></script>
    <script src="/static/build/suratjalan-checkbox.js" th:src="@{/build/suratjalan-checkbox.js}"></script>
    <script src="/static/build/invoice.js" th:src="@{/build/invoice.js}"></script>
</body>
</html>