<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/kwitansi.css">
    <title>Preview Kwitansi</title>
</head>
<body>
    <!--Preview Invoice-->
    <div class="previewkw-page">
        <div class="pkw-page">
            <h1>Preview Kwitansi</h1>
                <img src="https://img.freepik.com/free-vector/abstract-green-background-fluid-style_23-2148476710.jpg?w=996&t=st=1665114843~exp=1665115443~hmac=afe2753781e5762432f5ed5589d36545fb91c8add706bd770529661dd1e18693" alt="Not connected">
                <a href="kwitansi.html">Back to Edit</a>
                <a href="">Print</a>
        </div>
      </div>
</body>
</html>