<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header-sjprint :: head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <title>Preview</title>
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Fonts to support Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <!-- Icons to support Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script type="text/javascript" src="/static/bower_components/crypto-js/crypto-js.js"></script>
    <script src="/static/build/util.js"></script>
</head>
<body>
    <!-- <iframe id="myIframe"></iframe> -->
    <div id="root"></div>
    <div id="body_surat">
        <div class="book">
            <div class="page">
                <div class="subpage" id="subpage">
                </div>
            </div>

    <!--        <div class="page">-->
    <!--            <div class="subpage">Page 2/2</div>-->
    <!--        </div>-->

        </div>
    </div>
      <script src="/static/build/sjprint.js" th:src="@{/build/sjprint.js}"></script>
</body>
</html>