<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Preview</title>
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Fonts to support Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <!-- Icons to support Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script type="text/javascript" src="/bower_components/crypto-js/crypto-js.js"></script>
    <script src="/build/util.js"></script>
</head>
<body>
    <div id="root"></div>
    <!--Preview Surat Jalan-->
    <div class="sjpreview-page">
        <div class="sjp-page" id="sjp-page">
            <!-- <h1>Preview Surat Jalan</h1>
                <img src="https://img.freepik.com/free-vector/pack-red-mailboxes-isometric-style_23-2147609238.jpg?w=996&t=st=1665029887~exp=1665030487~hmac=e15a8a66d8c4051fccd46bf7879350ec63fd96e0f3563426e0721215c6d4df9a" class="imgsj" alt="Gambar memerlukan akses secara online">
                <a href="suratjalan.html">Back to Edit</a>
                <a href="">Print</a> -->
        </div>
      </div>
      <script src="/build/sjpreview.js"></script>
</body>
</html>